@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan'; /* Give your font a name */
  src: url('../public/fonts/IRANYekanRegularFaNum.ttf'); /* Specify the path to your font file and its format */
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 100, 100, 100;
}

body {
  direction: rtl;
  font-family: IranYekan, sans-serif!important; 

}
