.overlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0); */
  transition: background-color 0.3s ease-in;
  z-index: -1;
}
.visible {
  position: fixed;
  inset: 0;
  transition: background-color 0.3s ease-in;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3); /* Target opacity when visible */
}
.menu-open {
  position: fixed;
  inset: 0;
  right: 0;
  width: 200px;
  background-color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  transition: all 0.4s ease-in;

  z-index: 50;
}
.menu-close {
  position: fixed;
  inset: 0;
  right: -200px;
  width: 200px;
  background-color: white;
  transition: all 0.4s ease-in;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
