.overlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0); */
  transition: background-color 0.3s ease-in;
  z-index: -1;
}
.visible {
  position: fixed;
  inset: 0;
  transition: background-color 0.3s ease-in;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3); /* Target opacity when visible */
}
.menu-open {
  position: fixed;
  inset: 0;
  right: 0;
  width: 200px;
  background-color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  transition: all 0.4s ease-in;

  z-index: 50;
}
.menu-close {
  position: fixed;
  inset: 0;
  right: -200px;
  width: 200px;
  background-color: white;
  transition: all 0.4s ease-in;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.menu {
  transition: all 0.4s ease-in;
  transition: margin ease-out 0.3s;
}
/* .show_item {
  transition: all 0.4s ease-in;
  transform: scale(1, 1);
  opacity: 1;
  transform-origin: top;
  height: 100% !important;
}

.hide_item {
  transition: all 0.4s ease-in;
  transform: scale(1, 0);
  opacity: 0;
  transform-origin: top;
  height: 0 !important;
} */

.show_item,
.hide_item {
  transition: all 0.4s ease-in, height 0.4s ease-in;
  transform-origin: top;
}

.show_item {
  transform: scale(1, 1);
  opacity: 1;
  height: 100% !important;
  z-index: 50;
}

.hide_item {
  transform: scale(1, 0);
  position: relative;
  opacity: 0;
  height: 0 !important;
  z-index: -1;
}
